* {
    border:box-sizing;
}

body 
{
}

/*====================main.master====================*/
.main 
{
    width:1000px;
    margin:0 auto;
}

.main-search
{
    width:400px;
    margin:0 auto;
}

.txtSearch
{
    width:300px;
    height:30px;
}
.btnSearch
{
    width:50px;
    height:30px;
}
.footer
{
    margin-top:50px;
    height:70px;
}

/*====================top10====================*/
.MusicTop10 {
  width:400px;
  float:left;
}

.SingerTop10 {
   width:300px;
   float:left;
   margin-left:100px;
}

.MusicTop10-ol span{
  margin-left:30px;
}

.SingerTop10-ol span {
  margin-left:30px;
}

.MusicTop10-icon-bar {
    float:right
}