* {
    border:box-sizing;
}

body 
{
}

/*====================main.master====================*/
.main 
{
    width:1000px;
    margin:0 auto;
}

.main-search
{
    width:400px;
    margin:0 auto;
    padding-bottom:50px;
}

.txtSearch
{
    width:300px;
    height:30px;
}
.btnSearch
{
    width:50px;
    height:30px;
}
.footer
{
    margin-top:50px;
    height:70px;
}

/*====================top10====================*/
.MusicTop10 {
  width:600px;
  float:left;
  
}

.SingerTop10 {
   width:300px;
   float:left;
   margin-left:100px;
}

.MusicTop10-ol span{
  margin-left:30px;
}

.SingerTop10-ol span {
  margin-left:30px;
}

.MusicTop10-icon-bar {
    float:right
}

.MusicTop10-ol-li .hot-item
{
    float:right;
    }
.MusicTop10-ol-li .singer-item
{
    margin-right:50px;
    float:right;
    }
.SingerTop10-ol-li .hot-item
{
    float:right;
    margin-right:50px;
    }

/*====================SeacherResult====================*/
.SearchOutcome
{
    width:600px;
    }
.SearchOutcome span
{
    margin-left:30px;
    }

.SearchOutcome-icon-bar
{
    float:right;
    }
    
.songName-th
{
    width:300px;
    }
.singer-th
{
    width:100px;
    }
.hits-th
{
    width:50px;
    }

/*====================清除浮动====================*/
.clear
{
    clear:both;
    line-height:0px;
    margin:0px;
    padding:0px;
    }

/*====================userMgr.master====================*/
.list-userMgr
{
    width:20%;
    float:left;
}

/*====================collect.aspx====================*/
.collect-mgr
{
    text-align:right;
}

/*====================AllMusic====================*/
.music-tb {
    
}

.songName-th
{
    width:300px;
    }
.singer-th
{
    width:100px;
    }
.hits-th
{
    width:50px;
    }

.show {
  display:block;
}
