* {
    border:box-sizing;
    
    }

body 
{
}

.MusicTop10 {
  width:400px;
  float:left;
}

.SingerTop10 {
   width:300px;
   float:left;
   margin-left:100px;
}

.MusicTop10-ol span{
  margin-left:30px;
}

.SingerTop10-ol span {
  margin-left:30px;
}

.MusicTop10-icon-bar {
    float:right
}